<section id="libroDeAgua"  class="mb-5">
    <div class="contenedor">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3"></div>
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="text-center">
                    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
                        <h1 class="h3 mb-3 font-weigh-normal">Libro de Agua</h1>
                        <!-- fecha -->
                        <div class="form-group">
                            <label for="dia">Fecha</label>
                            <input type="date" formControlName="dia" class="form-control" required />
                        </div>
                        <!-- Puesto -->
                        <div class="form-group">
                            <label for="puesto">Puesto</label>
                            <select formControlName="idPuesto" class="form-control" ng-selected="obj.propiedad==1">
                                <option *ngFor="let puesto of puestos" value="{{puesto.id}}">{{puesto.puesto}}</option>
                            </select>
                        </div>
                        <!-- Hora -->
                        <div class="form-group">
                            <label for="horaRescate">Hora</label>
                            <input type="time" formControlName="horaRescate" class="form-control" required />
                        </div>
                        <!-- clima -->
                        <div class="form-group">
                            <label for="clima">clima</label>
                            <p>{{clima}}</p>
                        </div>
                        <!-- tipoRescate -->
                        <div class="form-group">
                            <label for="tipoRescate">Tipo Rescate</label>
                            <select formControlName="idTipoRescate" class="form-control" >
                                <option value="{{tipoRescate.id}}" (click)="activarOpciones()" *ngFor="let tipoRescate of tipoRescates">{{tipoRescate.descripcion}}</option>
                            </select>
                            <!-- rescateAvanzado -->
                            
                                <div class="form-grup" *ngIf = "opciones">
                                        <label for="traumatismo">Traumatismo</label>
                                        <input type="checkbox" formControlName="traumatismo" class="form-control">
                                        <label for="rcp">RCP</label>
                                        <input type="checkbox" formControlName="rcp" class="form-control">
                                        <label for="derivacion">derivacion a hospital</label>
                                        <input type="checkbox" formControlName="derivacion" class="form-control">
                                </div>
                            
                            
                             
                            
                        </div>
                        <!-- 1ros auxilios -->
                        <div class="form-group">
                            <label for="primerosAuxilios">1ros Auxilios</label>
                            <input type="checkbox" formControlName="primerosAuxilios" class="form-control">
                        </div>
                        <!-- zona intervencion-->
                        <div class="form-group">
                            <label for="zonaIntervencion">Zona de intervención</label>
                            <select formControlName="idZonaIntervencion" class="form-control">
                                <option value="{{zonaIntervencion.id}}" *ngFor="let zonaIntervencion of zonaIntervenciones">{{zonaIntervencion.descripcion}}</option>
                            </select>
                        </div>
                        <!-- datosVictima -->
                        <div class="form-group">
                            <label for="informacionVictima">informacion de la victima</label>
                            <label for="rangoEdad">Rango edad</label>
                            <select formControlName="idRangoEdad" class="form-control">
                                <option value="{{rangoEdad.id}}" *ngFor="let rangoEdad of rangoEdades">{{rangoEdad.descripcion}}</option>
                            </select>
                            <label for="procedencia">Procedencia</label>
                            <select formControlName="idProcedencia" class="form-control">
                                <option value="{{procedencia.id}}" *ngFor="let procedencia of procedencias">{{procedencia.descripcion}}</option>
                            </select>
                        </div>
                        <!-- Observaciones -->
                        <input type="button" for="observaciones" (click)="activarInput()" value="observaciones">
                        <div *ngIf="mostrar" class="form-group">
                            <textarea class="form-control" formControlName="observaciones" rows="4" cols="50"></textarea>
                        </div>
                        <!-- boton -->
                        <div class="form-group">
                            <button [disabled]="loading" class="btn btn-primary">Subir</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>