<section id="registro" class="mb-5">
    <div class="contenedor">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="text-center">
                    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
                        <h1 class="h3 mb-3 font-weigh-normal">Libro de Agua</h1>
                        <!-- fecha -->
                        <div class="form-group">
                            <label for="fecha">Fecha</label>
                            <input type="date" formControlName="fecha" class="form-control"  required/>
                        </div>
                       <!-- Puesto -->
                       <div class="form-group">
                            <label for="puesto">Puesto</label>
                            <select formControlName="puesto" class="form-control" ng-selected="obj.propiedad==1">
                                <option *ngFor="let puesto of puestos" value="{{puesto.id}}">{{puesto.puesto}}</option>
                            </select>
                        </div>
                        <!-- Hora -->
                       <div class="form-group">
                            <label for="hora">Hora</label>
                            <input type="time" formControlName="hora" class="form-control"  required/>
                        </div>
                         <!-- clima -->
                       <div class="form-group">
                            <label for="clima">clima</label>
                            <input type="text" formControlName="clima" class="form-control"  placeholder="ej:Soleado" required/>
                        </div>
                        <!-- tipoRescate -->
                        <div class="form-group">
                                <label for="tipoRescate">Tipo Rescate</label>
                                <select formControlName="tipoRescate" class="form-control">
                                    <option value="{{tipoRescate.id}}" *ngFor="let tipoRescate of tipoRescates" (click)="handleChange(item)">{{tipoRescate.descripcion}}</option>
                                 </select>
                            </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>